{% extends 'AppBundle:Site:base.html.twig' %}
{% trans_default_domain 'kalamu' %}
{% block site_title %}{{term}} . {{parent()}}{% endblock site_title %}

{% block content %}
    <section>
        <h1><span class="text-muted">{{term.taxonomy}} - </span> {{term}}</h1>
        {% if term.resume %}
            <p>{{term.resume|nl2br}}</p>
        {% endif %}

        {% if term.image %}
            <img src="{{ term.image|imagine_filter('post_fullsize') }}" alt="" class="img-responsive center-block">
        {% endif %}

        <div class="container-fluid">
            {% set datas = term.description|json_decode %}
            {% include 'AppBundle:Site:_wysiwyg_dashboard_content.html.twig' %}
        </div>
    </section>

    <hr>

    {% include 'AppBundle:Content:list.html.twig' %}

    <hr>

    {% if paginator.getPageCount > 1 %}
        <nav aria-label="{{ 'Page navigation'|trans }}">
            <ul class="pagination">
                {% if paginator.getPageCount > paginator.getCurrentPageNumber %}
                <li>
                    <a href="{{cms_link(read, term, {page: (paginator.getCurrentPageNumber+1), _context: cms_current_context()})}}" aria-label="{{ 'Previous'|trans }}">
                        <i class="fa fa-angle-double-left"></i> {{ 'Previous page'|trans }}
                    </a>
                </li>
                {% endif %}
                {% if paginator.getCurrentPageNumber > 1 %}
                <li>
                    <a href="{{cms_link(read, term, {page: (paginator.getCurrentPageNumber-1), _context: cms_current_context()})}}" aria-label="{{ 'Next'|trans }}">
                        {{ 'Next page'|trans }} <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}