{% extends "SonataAdminBundle::standard_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('/bundles/app/css/admin-login.css')}}">
{% endblock %}
{% block sonata_header %}{% endblock %}
{% block sonata_left_side %}{% endblock %}
{% block body_attributes %}class="sonata-bc fixed"{% endblock %}
{% block sonata_page_content -%}
    <div class="form-wrapper">

        <div class="row">
            <div class="col-xs-12">
                {% if error %}
                    <div class="alert alert-danger" role="alert"><strong>{{'Error'|trans({}, 'kalamu')}} : </strong> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-3  col-xs-12">
                <a class="logo" href="{{ path('cms_homepage') }}">
                    {% if 'single_text' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                        <img src="{{ asset('bundles/kalamucmsadmin/image/logo.png')}}" alt="{{ sonata_admin.adminPool.title }}">
                    {% endif %}
                </a>
            </div>
            <div class="col-md-8 col-sm-9 col-xs-12">
                <form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="form-inline">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <div class="form-group">
                        <label class="sr-only" for="inlineFormInputGroup">{{ 'security.login.username'|trans }}</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            <input type="text" name="_username" id="username" tabindex="1"  value="{{ last_username }}" required="required" class="form-control" placeholder="{{ 'security.login.username'|trans }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="inlineFormInputGroup">{{ 'security.login.password'|trans }}</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                            <input type="password" name="_password" id="password" tabindex="2" required="required" class="form-control" placeholder="{{ 'security.login.password'|trans }}">
                        </div>
                    </div>

                    <button class="btn-primary btn" name="_submit" tabindex="3" type="submit">{{ 'security.login.submit'|trans }}</button>
                </form>
                <hr>
                <p>
                    <a href="{{path('cms_homepage')}}">
                        {{'Go to homepage'|trans({}, 'kalamu')}}
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock sonata_page_content %}

